
# Terraform
**/.terraform/
*.tfstate
*.tfstate.*

# Sensitive variable files
*.tfvars
*.tfvars.json

# Terraform crash logs
crash.log
crash.*.log

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration
.terraformrc
terraform.rc
